# Static Analysis
# Flutter version is managed in .github/actions/setup-flutter/action.yml

name: Analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-flutter

      - name: Run analyzer
        run: flutter analyze --fatal-infos
